# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/Assignment5.iml
/out/
/textdecorators/src/BUILD/
/misspelled.txt
/keywords.txt
/input.txt
